<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.seehope.hxfenxiao.mapper.IgorderMapper">

	<select id="findIgOrderProductName" resultType="net.seehope.hxfenxiao.pojo.Igorder2">
	SELECT igorder.*,product.productname
	FROM igorder,product WHERE igorder.pid=product.productid
	GROUP BY productname
	</select>
	
	<select id="findAllOrders" resultType="net.seehope.hxfenxiao.pojo.Igorder2">
	SELECT igorder.*,product.productname
	FROM igorder,product WHERE igorder.pid=product.productid
	AND igorder.receiverid=#{id}
	</select>
	
	<select id="findOneOrder" resultType="net.seehope.hxfenxiao.pojo.Igorder2">
	SELECT igorder.*,product.productname
	FROM igorder,product WHERE igorder.pid=product.productid
	AND igorder.igorderid=#{id}
	</select>
	
	
</mapper>
